.letter:hover {
  animation: fall 0.25s linear;
}

@keyframes fall {
  0% {
    transform: rotateY(-25deg);
  }
  25% {
    transform: translateY(-25%) rotateY(50deg);
  }
  50% {
    transform: rotateY(-25deg);
  }
  75% {
    transform: translateY(25%) rotateY(50deg);
  }
  100% {
    transform: rotateY(-25deg);
  }
}

/* accordion collapsed */
.accordionColorsPrimary > button {
  background-color: rgb(12, 109, 253);
  color: white;
}
.accordionColorsSuccess > button {
  background-color: #1a8654;
  color: white;
}
.accordionColorsDark > button {
  background-color: #212529;
  color: white;
}

/* accordion not collapsed */
.accordionColorsPrimary > button:not(.collapsed) {
  background-color: rgb(12, 109, 253);
  color: white;
}
.accordionColorsSuccess > button:not(.collapsed) {
  background-color: rgb(26, 134, 84);
  color: white;
}
.accordionColorsDark > button:not(.collapsed) {
  background-color: rgb(33, 37, 41);
  color: white;
}

/* accordion not collapsed after */
.accordionColorsPrimary > button:not(.collapsed)::after {
  color: white !important;
}
.accordionColorsSuccess > button:not(.collapsed)::after {
  color: white !important;
}
.accordionColorsDark > button:not(.collapsed)::after {
  color: white !important;
}

/* Change Form Control Placeholder */
.form-control::placeholder {
  color: white !important; /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 0.9 !important; /* Firefox */
}
.form-control:-ms-input-placeholder {
  color: white !important; /* Internet Explorer 10-11 */
}
.form-control::-ms-input-placeholder {
  color: white !important; /* Microsoft Edge */
}

 
/* make accordion arrow the color white */
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}
.accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.nav-link{color: white !important}


/* override bootstrap to remove accordion focus background color & shadow color */
.accordion-button:focus {
  border-color: transparent !important;
  box-shadow: 0 0 0 0.25rem transparent !important;
}